@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600&display=swap');

:root {
  --color-primary: #eee;
  --color-secondary: #333;
  --color-accent: #e6d38e;
  --font-family: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

h1 {
  font-weight: 300;
  line-height: 2rem;
  font-size: 1.5rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-secondary);
  top: 0;
  transition: transform 0.2s;
  transform: translateX(0);
  /* line-height: 1.5rem;
  font-size: 1rem; */
}

a:hover {
  transform: translateX(-1rem);
}

body {
  padding: 2rem;
  /* background-color: ; */
  color: var(--color-secondary);
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: var(--font-family);
  font-weight: 300;
}

header {
  padding: 0.5rem;
  width: 100%;
  background-color: var(--color-secondary);
}

header a {
  color: #fff;
  padding: 0 2rem;
  font-weight: 200;
  line-height: 4rem;
  font-size: 1rem;
}

main {
  width: 100%;
  min-height: 40rem;
  background-color: var(--color-primary);
  margin: auto;
}

.container {
  padding: 5rem;
  margin: auto;
}

content {
  display: block;
  width: 100%;
  font-weight: 300;
}

.content-welcome {
  height: 48rem;
  font-size: 1.5rem;
  background: rgb(112, 135, 63);
  background: linear-gradient(40deg, #e6d38e 0%, #a7b872 100%);
  color: var(--color-secondary);
}

.content-welcome #introduce {
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--color-secondary);
}
.content-welcome #introduce:hover {
  text-shadow: #2224 0 0.1rem 0.5rem;
}

.content-main {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  width: 100%;
  height: min-content;
}
