@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600;900&display=swap');

:root {
  --color-primary: #eee;
  --color-secondary: #333;
  --color-accent: #e6d38e;
  --font-family: 'Poppins', sans-serif;
}

/* INITIAL STYLES */
html {
  font-size: clamp(10px, 0.85vw, 32px);
  background-color: #fff;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  user-select: none;
}

h1 {
  font-weight: 900;
  line-height: 4rem;
  font-size: 2.5rem;
  display: inline;
  text-align: center;
}

h2 {
  font-weight: 600;
  line-height: 2rem;
  font-size: 1.5rem;
  display: inline;
  text-align: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-secondary);
  top: 0;
}

body {
  padding: 1vw;
  color: var(--color-secondary);
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: var(--font-family);
  font-weight: 300;
  height: max-content;
}

/* TEXT CLASSES */
.animate {
  transition: transform 0.2s, text-shadow 0.2s;
  text-shadow: none;
  transform: translateX(0);
  cursor: pointer;
}

.animate:hover,
.animate:focus,
.animate:active {
  transform: translateY(-0.2rem);
  text-shadow: #0005 0 4px 20px;
  text-decoration: underline;
}

/* FLEX CLASSES */
.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.flex-gap {
  gap: 1.5rem;
}

header {
  height: 11vh;
  width: 100%;
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
}

header a {
  color: var(--color-primary);
  font-weight: 300;
  line-height: 4rem;
  cursor: pointer;
  font-size: 1.2rem;
  text-align: center;
}

main {
  width: 100%;
  margin: auto;
}

content {
  width: 100%;
  min-height: 30rem;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

content:nth-child(2n + 1) {
  background-color: #e3e3e3;
}

content:nth-child(2n) {
  background-color: var(--color-primary);
}

content h1 {
  line-height: 4rem;
}

.container {
  position: absolute;
  width: 50vw;
  left: 25%;
}

/* WELCOME SECTION */
#content-welcome {
  display: flex;
  justify-content: space-between;
  height: 85vh;
  font-size: 1.5rem;
  background: #b2b998;
  background: linear-gradient(130deg, #fff1bd 0%, #b2b998 100%);
  color: var(--color-secondary);
}

#content-welcome #introduce {
  z-index: 10;
}

#introduce #title-anilkarasah {
  display: block;
  animation: anilkarasah-animation 5s infinite;
}

#content-welcome #img-anilkarasah {
  height: 85vh;
  top: 0;
  z-index: 1;
}

#content-welcome #welcome-text {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/* ABOUT ME SECTION */
#content-about p {
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

#content-about #focus,
#content-about a {
  font-weight: 900;
}

/* TECH-STACK SECTION */
#content-tech {
  color: var(--color-secondary);
  width: 100%;
}

ul.list-techstack {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 2.5rem;
  margin: 1rem 0;
  box-shadow: #0002 3px 3px 10px 1px;
}

ul.list-techstack li {
  font-size: 1rem;
  padding: 0.5rem;
  text-align: center;
  justify-content: center;
  background-color: #ddd;
}

ul.list-techstack li:hover,
ul.list-techstack li:focus,
ul.list-techstack li:active {
  background-color: #fff1bd;
  background: linear-gradient(130deg, #fff1bd 0%, #d6dfb8 100%);
}

ul.list-techstack li:nth-child(2n) {
  background-color: #e2e2e2;
}

ul.list-techstack li:last-child {
  border-right: 0;
}

ul#techstack-main li {
  width: calc(100% / 5);
}

ul#techstack-framework li {
  width: calc(100% / 7);
}

/* PROJECTS SECTION */
#content-projects {
  height: 60rem;
}

#card-project {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 0.5rem;
}

#card-project article {
  padding: 1rem;
  width: 32%;
  height: 16rem;
  border-radius: 1rem;
  background-color: var(--color-primary);
  box-shadow: #0002 3px 3px 10px 1px;
  gap: 1rem;
}

#card-project a {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: center;
}

#card-project p {
  height: 100%;
  font-size: 1rem;
  line-height: 1.2rem;
  text-align: justify;
  overflow-y: auto;
}

/* FOOTER SECTION */
footer {
  padding: 1.5rem;
  height: 5rem;
  width: 100%;
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

footer > .container {
  height: 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

footer a#email {
  color: var(--color-primary);
  font-weight: 300;
  line-height: 2rem;
  font-size: 1rem;
  text-align: center;
}

footer a.social {
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--color-primary);
}

/* MEDIA QUERIES */
@media (max-width: 820px) {
  body {
    padding: 1.5vh;
  }

  header a {
    font-size: 1.6rem;
  }

  .flex-gap {
    gap: 0;
  }

  #welcome-text {
    width: 100%;
    left: 0;
  }

  #introduce {
    width: 65vw;
    text-align: center;
  }

  content {
    min-height: 40rem;
  }

  #content-about .container {
    gap: 1rem;
  }

  #content-about p {
    text-align: justify;
  }

  #content-tech {
    height: 60rem;
  }

  #content-tech h1 {
    padding: 0 0 1rem 0;
  }

  ul.list-techstack {
    width: 100%;
    height: fit-content;
    flex-direction: column;
  }

  ul#techstack-main li,
  ul#techstack-framework li {
    display: block;
    width: 100%;
    border-right: 0;
  }

  #content-projects {
    height: calc(20rem + 9 * 10rem);
  }

  #card-project {
    flex-direction: column;
  }

  #card-project article {
    padding: 1rem;
    width: 100%;
    height: 10rem;
  }

  #card-project a {
    line-height: 3rem;
  }
}

@media (max-width: 768px) {
  #content-welcome #welcome-text {
    justify-content: center;
    align-items: stretch;
  }

  #img-anilkarasah {
    position: absolute;
  }
}

/* ANIMATIONS */
@keyframes anilkarasah-animation {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(5%);
  }
  70% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0);
  }
}
