@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600;900&display=swap');

:root {
  --color-primary: #eee;
  --color-secondary: #333;
  --color-accent: #e6d38e;
  --font-family: 'Poppins', sans-serif;
}

/* INITIAL STYLES */
html {
  font-size: clamp(10px, 0.85vw, 32px);
  background-color: #fff;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  user-select: none;
}

h1 {
  font-weight: 900;
  line-height: 3.5rem;
  font-size: 2.5rem;
  display: inline;
  text-align: center;
}

h2 {
  font-weight: 600;
  line-height: 2rem;
  font-size: 1.5rem;
  display: inline;
  text-align: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-secondary);
  top: 0;
}

body {
  padding: 2rem;
  color: var(--color-secondary);
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: var(--font-family);
  font-weight: 300;
  height: max-content;
}

/* TEXT CLASSES */
.animate {
  transition: transform 0.2s, text-shadow 0.2s;
  text-shadow: none;
  transform: translateX(0);
}

.animate:hover {
  transform: translateY(-0.2rem);
  text-shadow: #0005 0 4px 20px;
}

.text--thin {
  font-weight: 200;
}
.text--regular {
  font-weight: 300;
}
.text--bold {
  font-weight: 600;
}
.text--black {
  font-weight: 900;
}

/* FLEX CLASSES */
.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}

header {
  padding: 0.5rem;
  width: 100%;
  background-color: var(--color-secondary);
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
}

header a {
  color: var(--color-primary);
  font-weight: 200;
  line-height: 4rem;
  font-size: 1rem;
  text-align: center;
}

main {
  width: 100%;
  min-height: 40rem;
  background-color: var(--color-primary);
  margin: auto;
}

content {
  position: relative;
  display: block;
  width: 100%;
  max-height: 48rem;
  min-height: 30rem;
  font-weight: 300;
}

.container {
  position: absolute;
  width: 50vw;
  left: 25%;
}

/* WELCOME SECTION */
#content-welcome {
  display: flex;
  justify-content: space-between;
  height: 48rem;
  font-size: 1.5rem;
  background: rgb(112, 135, 63);
  background: linear-gradient(130deg, #fff1bd 0%, #b2b998 100%);
  color: var(--color-secondary);
}

#content-welcome #introduce {
  z-index: 10;
}

#content-welcome #img-anilkarasah {
  /* position: absolute; */
  height: 48rem;
  top: 0;
  /* right: 0; */
  z-index: 1;
}

#content-welcome #welcome-text {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/* TECH-STACK SECTION */
#content-tech {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
}

ul.list-techstack {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

ul.list-techstack li {
  font-size: 1rem;
  padding: 0.5rem;
}

/* PROJECTS SECTION */
#content-projects {
  background-color: #ddd;
}

/* FOOTER SECTION */
footer {
  padding: 1.5rem;
  height: 5rem;
  width: 100%;
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

footer > .container {
  height: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

footer a#email {
  color: var(--color-primary);
  font-weight: 200;
  line-height: 2rem;
  font-size: 1rem;
  text-align: center;
  padding: 0 0.5rem;
}

footer a.social {
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: var(--color-primary);
  padding: 0 0.5rem;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  #content-welcome #welcome-text {
    justify-content: center;
    align-items: stretch;
  }

  #img-anilkarasah {
    position: absolute;
  }
}
