@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root {
  --color-primary: #eee;
  --color-secondary: #1d102b;
  --color-accent: dodgerblue;
  --color-header-bg: #61c2bc;
  --color-header-fade-to: indigo;
  --color-hover-bg: #61c2bc33;
  --color-hover-fade-to: #4b008266;
  --font-family-inter: 'Inter', sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 600;
}

/* INITIAL STYLES */
html {
  font-size: clamp(10px, 0.85vw, 32px);
  background-color: #fff;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
  font-family: var(--font-family-inter);
}

h1 {
  font-weight: var(--font-weight-bold);
  line-height: 4rem;
  font-size: 2.5rem;
  display: inline;
  text-align: center;
}

h2 {
  font-weight: var(--font-weight-bold);
  line-height: 2rem;
  font-size: 1.5rem;
  display: inline;
  text-align: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #040c25;
}

a[target^='_blank']:not(.social):not(#footer--astro-logo)::after {
  padding: 0 0.2rem;
  content: '\f35d';
  font-family: 'Font Awesome\ 6 Free';
}

body {
  padding: 1vw;
  color: var(--color-secondary);
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: var(--font-weight-regular);
  height: max-content;
  background-color: #fdfdfb;
}

.secret-skip-link {
  background-color: var(--color-secondary);
  color: var(--color-accent);
  font-size: 1.5rem;
  font-weight: var(--font-weight-bold);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  z-index: 999;
}

/* TEXT CLASSES */
.animate {
  cursor: pointer;
}

.animate:hover,
.animate:focus {
  text-decoration: underline;
}

/* FLEX CLASSES */
.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.flex-gap {
  gap: 1.5rem;
}

/* CONTAINER CLASSES */
main {
  width: 100%;
  margin: auto;
}

container {
  width: 100%;
  height: auto;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem 0;
}

container:nth-child(2n + 1) {
  background-color: #e3e3e3;
}

container:nth-child(2n) {
  background-color: var(--color-primary);
}

container h1 {
  line-height: 4rem;
}

.container {
  width: 50vw;
  margin: auto;
}

.box-shadow {
  box-shadow: #0001 3px 3px 3px 1px;
}

/* MEDIA QUERIES */
@media (max-width: 915px) {
  .container {
    width: 80vw;
    left: 10vw;
  }
}

.scroll-hidden {
  opacity: 0;
  filter: blur(0.1rem);
  transform: translateX(-2rem);
}

.scroll-show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media (prefers-reduced-motion: no-preference) {
  .scroll-hidden {
    transition: all 500ms ease-in-out;
  }

  .animate {
    transition: transform 0.2s;
    transform: translateY(0);
  }

  .animate:hover,
  .animate:focus {
    transform: translateY(-0.2rem);
  }

  .secret-skip-link {
    transform: translateY(-100%);
    transition: transform 100ms ease-in-out;
  }

  .secret-skip-link:focus {
    transform: translateY(0);
  }
}
