---
---

<container>
    <div class="container flex flex-column flex-gap">
        <h1 tabindex="0" class="scroll-hidden">About Me</h1>
        <p class="scroll-hidden">
            I'm <span class="focus">Mehmet Anıl Karaşah</span>. I have graduated from
            <span class="focus">Yıldız Technical University</span>. I currently work as <span
            class="focus">Software Engineer</span> on <a href="https://lidiacommerce.com" target="_blank"
            rel="noopener" title="Lidia Commerce">Lidia Headless Commerce Engine</a> at <span
            class="focus">T&G Workshop</span> More info on this at <a href="#contributions">
            Contributions</a> section.
        </p>
        <p>
            I love working on back-end technologies, especially with <span class="focus">C#</span>.
            I focus on delivering <span class="focus">high-quality</span>, <span class="focus">
            scalable</span>, <span class="focus">readable</span> and <span class="focus">performant</span>
            software solutions. I'm also interested in <span class="focus">DevOps</span> and <span
            class="focus">CI/CD</span> processes. I'm a <span class="focus">fast learner</span>
            and <span class="focus">problem solver</span>. I also work on the upcoming <span
            class="focus">agentic AI solutions</span>.
        </p>
    </div>
</container>

<style>
    container p {
        text-align: center;
        font-size: 1.2rem;
        line-height: 1.6rem;
    }

    container .focus,
    container a {
        font-weight: 900;
    }
</style>
