---
---

<container>
    <div class="container flex flex-column flex-gap">
        <h1 tabindex="0" class="scroll-hidden">About Me</h1>
        <p class="scroll-hidden">
            My full name is
            <span class="focus">Mehmet Anıl Karaşah</span>. I am a senior
            <span class="focus">Computer Engineering</span> student at Yıldız Technical
            University. I have come to a serious point today in my coding journey,
            which I first started by learning HTML when I was 11 years old. I am
            working on <span class="focus"
                >back-end software development technologies</span
            >
            and try to improve myself about it everyday.
        </p>
        <p class="scroll-hidden">
            I am currently working at
            <a
                href="https://tgworkshop.com"
                target="_blank"
                rel="noopener"
                title="T&G Workshop">T&G Workshop</a
            > as a
            <span class="focus">Junior Software Engineer</span>
            for a year, which develops the
            <a
                href="https://lidiacommerce.com"
                target="_blank"
                rel="noopener"
                title="Lidia Commerce">Lidia Headless Commerce Engine</a
            >.
        </p>
    </div>
</container>

<style>
    container p {
        text-align: center;
        font-size: 1.2rem;
        line-height: 1.6rem;
    }

    container .focus,
    container a {
        font-weight: 900;
    }
</style>
