---
---

<container>
  <div class="container flex flex-column flex-gap">
    <h1 tabindex="0">About Me</h1>
    <p>
      My full name is
      <span id="focus">Mehmet Anıl Karaşah</span>. I am studying
      <span id="focus">Computer Engineering</span> at Yıldız Technical University.
      I have come to a serious point today in my coding journey, which I first started
      by learning HTML when I was 11 years old. I am currently focused on
      <span id="focus">Back-End technologies</span> and try to improve myself about
      it everyday.
    </p>
    <p>
      I am currently in <span id="focus">WEBLAB</span> which is
      <a
        href="https://yildizskylab.com/"
        target="_blank"
        rel="noopener"
        title="YTU Skylab Website"
      >
        YTU Skylab
        <i class="fa-solid fa-up-right-from-square"></i>
      </a>'s Web Development Team.
    </p>
  </div>
</container>

<style>
  container p {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.6rem;
  }

  container #focus,
  container a {
    font-weight: 900;
  }
</style>
