---
import AnilKarasahPhoto from '/anilkarasah.jpg'
---

<container>
  <div class="container welcome-text">
    <div id="introduce">
      <h1>Hi, I am</h1>
      <h1 id="title-anilkarasah" tabindex="0">Anıl Karaşah</h1>
    </div>
    <img src={AnilKarasahPhoto} alt="Picture of Anıl Karaşah" />
  </div>
</container>

<style>
  container {
    --text-color: var(--color-primary);
    --welcome-container-height: 50rem;

    display: flex;
    justify-content: space-between;
    height: var(--welcome-container-height);
    font-size: 1.5rem;
    background: var(--color-header-bg);
    background: linear-gradient(
      to bottom right,
      var(--color-header-bg) 0%,
      var(--color-header-fade-to) 100%
    );
    color: var(--text-color);
    position: relative;
  }

  #introduce {
    z-index: 10;
  }

  #introduce h1 {
    font-weight: 600;
  }

  #introduce h1#title-anilkarasah {
    display: block;
    animation: anilkarasah-animation 5s infinite;
  }

  container img {
    height: var(--welcome-container-height);
    aspect-ratio: 1 / 1.618;
    object-fit: cover;
    object-position: center center;
    top: 0;
    z-index: 1;
  }

  .welcome-text {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  /* @media (max-width: 920px) {
    .welcome-text {
      width: 100%;
      left: 0;
    }

    #introduce {
      width: 65vw;
      text-align: center;
    }
  } */

  @media (max-width: 600px) {
    container {
      --welcome-container-height: 65rem;

      position: relative;
      --text-color: var(--color-secondary);
    }

    .welcome-text {
      justify-content: center;
      align-items: stretch;
      justify-self: flex-end;
    }

    container img {
      position: absolute;
    }
  }

  @keyframes anilkarasah-animation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10%);
    }
    100% {
      transform: translateY(0);
    }
  }
</style>
