---
import astroLogo from '/astro-logo.png'
---

<footer id="footer">
  <div class="container">
    <a
      href="mailto:anilkarasah+contact@hotmail.com"
      class="animate"
      id="email"
      title="Send an email to contact with me"
    >
      Send me an email
    </a>
    <div id="copyright">
      &copy; 2022 - Anıl Karaşah | Powered by <a
        href="https://astro.build/"
        target="_blank"
        rel="noopener"
        id="footer--astro-logo"
        ><img src={astroLogo} alt="Astro Logo" title="Astro" />
      </a>
    </div>
    <div id="sociallinks">
      <a
        href="https://www.linkedin.com/in/anilkarasah"
        class="social"
        target="_blank"
        rel="noopener"
        title="Linkedin account of Anıl Karaşah"
      >
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a
        href="https://www.github.com/anilkarasah"
        class="social"
        target="_blank"
        rel="noopener"
        title="Github account of Anıl Karaşah"
      >
        <i class="fa-brands fa-github"></i>
      </a>
    </div>
  </div>
</footer>
