---
---

<header>
  <h2 class="anil">Anıl</h2>

  <svg x="0px" y="0px" viewBox="0 0 500 500">
    <g>
      <polygon
        class="letter-A"
        points="333.33,55.56 277.78,0 222.22,55.56 277.78,111.11 222.22,166.67 166.67,111.11 222.22,55.56 166.67,0 
        111.11,55.56 55.56,111.11 0,166.67 55.56,222.22 111.11,166.67 166.67,222.22 111.11,277.78 55.56,333.33 111.11,388.89 
        166.67,333.33 222.22,277.78 277.78,222.22 333.33,166.67 388.89,111.11 "
      ></polygon>
      <rect
        x="238.49"
        y="238.49"
        transform="matrix(0.7071 -0.7071 0.7071 0.7071 -115.0593 277.7778)"
        class="letter-K"
        width="78.57"
        height="78.57"></rect>
      <polygon
        class="letter-K"
        points="444.44,166.67 388.89,222.22 333.33,277.78 388.89,333.33 444.44,277.78 500,222.22 	"
      ></polygon>
      <polygon
        class="letter-K"
        points="166.67,444.44 222.22,500 277.78,444.44 333.33,388.89 277.78,333.33 222.22,388.89 	"
      ></polygon>
    </g>
  </svg>

  <h2 class="karasah">Karaşah</h2>
</header>

<style>
  header {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
    height: 6rem;
  }

  header h2 {
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;
  }

  svg {
    width: 3.5rem;
    height: 3.5rem;
  }

  .letter-A {
    fill: #eee;
  }

  .letter-K {
    fill: #775fe0;
  }
</style>
